<!DOCTYPE html>
<html>
<head>
<script src="/js/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<title>Frontpage</title>
</head>
<body state="{{ .state }}">
<div id="main">
<div id="wrapper">
<div id="left">
<h1>Index</h1>
<p>Services available for you:</p>
{{ range $url, $domain := .index }}
<p><a href="//{{$url}}">{{$url}}</a> - {{$domain.Description}}</p>
{{end}}
</div>
</div>
</div>
</body>
</html>
