<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>Login Successful</title>
</head>
<body>
<div id="main">
<div id="wrapper">
<div id="left">
<h1>Success</h1>
<p>
As no redirect URL was passed so you ended up here.<br>
Try to reach the site you tried to reach again, it should work this time.
</p>
</div>
<div id="right">
<img src="/img/success.svg" width="300">
</div>
</div>
</div>
</body>
</html>
